.content-holder {
  width: 40%;
  margin: 30px auto;
  padding: 20px;
  text-align: center;
}

.avatar {
  width: 50px;
}

@media only screen and (max-width: 600px) {
  .content-holder {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
  }
}
